nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li:first-child {
    display: block;
}
nav ul li {
    display: none;
}
nav ul li a {
    text-decoration: none;
    border: 1px solid darkblue;
    background-color: lightyellow;

}
.show li{
    display: block;
}